body {
  font-family: Arial, Helvetica, sans-serif;
}

*{
  box-sizing: border-box;
}

input[type=text], input[type=password] {
  width: 60%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

button {
 display: none;
}


.cancelbtn {
  padding: 14px 20px;
  background-color: #003049;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 25%;
  margin: 1px;
  border-radius: 4px;
}

.container {
  padding: 16px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #ffffffd3;
  padding-top: 50px;
}

.modal-content {
  margin: 5% auto 15% auto;
  border-radius: 10px;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  width: 60%;
  float: left;
}

.hr hr{
  width: 75%;
}
 
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #003049;
}

.close:hover,
.close:focus {
  color: #3f49a1;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}


@media screen and (min-width: 301px) {
  .logimg {
     position: absolute;
     z-index: 3;
     width: 340px;
     right: 170px;
     top: 150px;
  }
}

@media screen and (max-width: 1000px) {
  .logimg {
     display: none;
  }
}
















